//Variáveis
$bg_white: #FFFFFF;
$bg_blue: #3B3AD3;
$button_pink: #F500B3;
$scroll: #1A1E5C;
$font_nav: #0a0a0a;
$font_text: #1A1E5C;
$box: 0px 0px 24px 4px rgba(245, 0, 179, 0.4);
$footer: #F5F4FA;

$container-l: 1440px;
$container-m: 1100px;

//Fontes
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");