@import "variables";
@import "functions";
@import "navbar_footer";
@import "responsive";

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Poppins;
}

body {
  background-color: $bg_white;
}

.container:first-child {
  height: calc(100vh - 80px);
}

.container {
  max-width: $container-l;
  // height: clamp(100vh, 1200px, calc(100% + 80px)); 
  margin: auto;
}

.container-box {
  max-width: $container-m;
  margin: auto;
}

.box {
  background-color: $bg_blue;

  h1 {
    font-size: 32px;
    font-weight: 500;
    color: $bg_white;
    line-height: 48px;
  }

  .inline:first-child {
    width: 300px;

    p {
      max-width: 270px;
    }
  }

  .inline {
    display: inline-flex;
    justify-content: space-between;
    width: 255px;

    p {
      font-size: 12px;
      line-height: 18px;
      color: $bg_white;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  button {
    margin-top: 67px;
    width: 175px;
    height: 50px;
    font-size: 16px;
    border-radius: 24px;
    color: $bg_white;
    background: $button_pink;
    cursor: pointer;
  }

  button:hover {
    box-shadow: $box;
    transition: ease-out 0.8s;
  }
}

//Body
.container-box {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .left {
    .inline-box {
      // margin-top: 20px;
      text-align: justify;
      width: 580px;
      display: inline-flex;
      justify-content: space-between;
    }
  }

  .right {
    position: absolute;
    right: 0;
  }

}

.container-box {
  h2 {
    font-size: 32px;
    font-weight: 500;
    color: $font_text;
    line-height: 48px;
  }

  p, h3 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 20px;
    color: $font_text;
    text-align: justify;
  }

  a {
    text-decoration: none;
  }

  .components {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .component:nth-child(2) {
      margin-top: 50px;
    }

    .component {
      width: 240px;
      height: 120px;
      border-radius: 18px;
      background: $bg_blue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      p {
        color: $bg_white;
        text-align: center;
        margin-top: 24px;
      }
    }
  }

}

.table {
  display: flex;
  justify-content: center;
}

.center {
  @include center();
}

.hidden {
  overflow: hidden;
}

//Accordion

.accordion {
  width: 100%;
}

.acc-box {
  position: relative;
  margin: 10px 20px;
}

.acc-label{
  position: relative;
  height: 80px;
  padding: 10px;
  background-color: $bg_white;
  border: 2px solid $scroll;
  border-radius: 8px;
  color: $scroll;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.acc-label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.acc-content .active > .acc-label::before {
  content: "-";
}

.acc-content {
  position: relative;
  padding: 10px;
  height: 0;
  background: #FFF;
  overflow: hidden;
  transition: 0.5s;
}

.acc-box > .acc-content.active {
  height: 150px;
  padding: 10px;
}